* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container figure {
    margin: 0.2em;
    padding: 1em;
    /* width: 100%; */
    min-height: 150px;
    background-color: rgb(0, 128, 255);
}