/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unica+One&display=swap');
/* 0 font-family: "Unica One", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* 1 font-family: "Dancing Script", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* 2 font-family: "Abel", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 3 font-family: "Courier Prime", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 4 font-family: "Arsenal SC", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* 5 font-family: "Great Vibes", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
/* 6 font-family: "Afacad", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
/* 7 font-family: "Playwrite AU QLD", cursive; */


.font-0 {
    font-family: "Unica One", sans-serif;
}

.font-1 {
    font-family: "Dancing Script", cursive;
}

.font-2 {
    font-family: "Abel", sans-serif;
}

.font-3 {
    font-family: "Courier Prime", monospace;
}

.font-4 {
    font-family: "Arsenal SC", sans-serif;
}

.font-5 {
    font-family: "Great Vibes", cursive;
}

.font-6 {
    font-family: "Afacad", sans-serif;
}

.font-7 {
    font-family: "Playwrite AU QLD", cursive;
}

/* across every lil pagooo! */


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fafafa;
    background-color: #000;
    /* background-color: #f6f6f6; */
}

::selection {
    color: #000;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    font-size: 0.8em;
}

nav a {
    padding: 0.6em 0em;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    align-self: center;
    color: rgba(255, 255, 255, 0.4);
    list-style: none;
    text-decoration: none;
    transition: 0.6s;
    font-family: "Courier Prime", monospace;
}

.web-title {
    padding: 0;
    font-size: 1.9em;
    color: white;
    font-weight: bold;
}

nav a:hover {
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
}

/* .lil-active {
    color: #000;
    background-color: #444;
} */

.active-page {
    border-bottom: 1px solid;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
}

/* nav dropdown */

.nav-dropdown {
    max-width: 50em;
    margin: 1em auto 0 auto;
    border-radius: 0.4em 0.4em 0 0;
    font-family: "Arsenal SC", sans-serif;
    /* font-family: "Afacad", sans-serif; */
}

.nav-dropdown a {
    display: inline-block;
    /* width: 100%; */
    padding: 0.4em 2em;
    font-size: 1.2em;
    text-decoration: none;
    border: none;
    border-radius: 0.4em 0.4em 0 0;
    color: #818181;
    font-weight: bold;
    transition: 0.4s;
}

.nav-dropdown a:hover {
    color: #fff;
}

.lil-active {
    color: #fff;
    background-color: #111;
}

main {
    max-width: 50em;
    margin: 0 auto;
    padding: 1.7em 1em;
    /* for footer */
    min-height: 100vh;
    background-color: #111;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    font-weight: bold;
}

footer p {
    padding: 1em;
}











































