/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unica+One&display=swap');
/* 0 font-family: "Unica One", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* 1 font-family: "Dancing Script", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* 2 font-family: "Abel", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 3 font-family: "Courier Prime", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 4 font-family: "Arsenal SC", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* 5 font-family: "Great Vibes", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
/* 6 font-family: "Afacad", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
/* 7 font-family: "Playwrite AU QLD", cursive; */


.font-0 {
    font-family: "Unica One", sans-serif;
}

.font-1 {
    font-family: "Dancing Script", cursive;
}

.font-2 {
    font-family: "Abel", sans-serif;
}

.font-3 {
    font-family: "Courier Prime", monospace;
}

.font-4 {
    font-family: "Arsenal SC", sans-serif;
}

.font-5 {
    font-family: "Great Vibes", cursive;
}

.font-6 {
    font-family: "Afacad", sans-serif;
}

.font-7 {
    font-family: "Playwrite AU QLD", cursive;
}

/* custom styling */

.lil-margin {
    margin-bottom: 0.6em;
}

/* .lil-sizing {
    font-size: larger;
} */

.small-sizing {
    font-size: smaller;
}

.big-sizing {
    font-size: larger;
}

.italic-lett {
    font-style: italic;
}

.big-lett {
    font-variant: small-caps;
}

.light-lett {
    font-weight: lighter;
}

.bold-lett {
    font-weight: bolder;
}

.red {
    color: rgb(163, 34, 34);
}

/* section */
.hide-show-desc {
    display: none;
}

.section-info {
    
}

.section-title {
    text-align: center;
    cursor: pointer;
    font-size: 2em;
    /* font-family: "Dancing Script", cursive; */
    font-family: "Great Vibes", cursive;
}

.section-desc {
    font-variant: small-caps;
    /* width: 90%; */
    margin: 0 auto;
    padding: 0 1em;
    font-size: 1.3em;
    /* font-family: "Arsenal SC", sans-serif; */
    font-family: ar;
    font-family: "Unica One", sans-serif;
    animation: fade-in 1s; 
}


/* picos stories */

.picos-stories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.pico-story {
    margin: 0.2em;
    padding: 0.4em;
    display: block;
    font-family: "Abel", sans-serif;
    border-radius: 0.4em;
    border: 1px solid #1a1a1a;
}

.pico-story img {
    width: 100%;
    margin-bottom: 0.2em;
    border-radius: 0.4em 0.4em 0 0;
}

.story-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4em;
}

.story-info h3 {
    font-size: 1em;
}

.read-story-btn {
    cursor: pointer;
    background: none;
    color: rgba(168, 111, 46, 0.4);
    border-radius: 0.2em;
    border: 1px solid rgba(168, 111, 46, 0.4);
    padding: 0em 0.4em 0.1em 0.4em;
    font-size: 0.8em;
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    transition: 0.4s;
}

.read-story-btn:hover {
    color: #a86f2e;
    border-color: #a86f2e;
}

.story-date {
    font-family: "Unica One", sans-serif;
    text-align: center;
    font-size: 0.8em;
    color: #444;
}

.story-date p {
    transition: 0.4s;

}

.story-date p:hover {
    color: #fff;
    font-size: 1.1em;
}

.story-date hr {
    border: none;
    height: 1px;
    background-color: #1a1a1a;
    margin: 0.4em 0;
}

/* pop up */

.pico-story-popup {
    display: none;
    animation: fade-in 0.4s;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.pico-story-popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}

.story-close-btn {
    cursor: pointer;
    position: absolute;
    right: 0.2em;
    top: 0em;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    background: none;
    font-size: 1.6em;
    text-align: center;
    border-radius: 0.2em;
    transition: 0.4s;
}

.story-close-btn:hover {
    color: #fff;
}

.active-story-popup {
    display: block;
}

/* popup content */

.pico-story-popup .pico-story-content {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 32em;
    padding: 0.6em;
    border-radius: 0.4em;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../images/for-pages/lil-author/story-0.jpg);
}

.pico-story-popup div {
    /* margin: 0 0.4em; */
    font-family: "Afacad", sans-serif;
    /* font-family: "Abel", sans-serif; */
}

/* pico section */

.pico-section {}

.pico-section img {
    width: 100%;
    margin-bottom: 0.2em;
    border-radius: 0.4em;
}

.story-name {
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;
}

/* story section */

.story-section {}

.story-section h3 {
    font-size: 1.6em;
}

.story-section p {
    font-size: 1.4em;
}

.story-section hr {
    height: 1px;
    margin: 0.4em 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.4em;
}

.popup-story-date {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Unica One", sans-serif;
    font-size: 0.8em;
    text-align: center;
    transition: 0.4s;
}

.popup-story-date:hover {
    color: #fff;
    font-size: 0.9em;
}

@media (max-width: 550px) {
    .pico-story-popup .pico-story-content {
        width: 80%;
        top: 55%;
    }

    .story-section h3 {
        font-size: 1.2em;
    }

    .story-section p {
        font-size: 1.1em;
    }
}