
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
/* font-family: "Playwrite AU QLD", cursive; */

/* unico one */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unica+One&display=swap');
/* font-family: "Unica One", sans-serif; */

/* dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* font-family: "Dancing Script", cursive; */

/* noto serif balinese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap');
/* font-family: "Noto Serif Balinese", serif; */

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Arsenal SC", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');
/* font-family: "Beiruti", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* font-family: "Abel", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');
/* font-family: "Inconsolata", monospace;
font-optical-sizing: auto; */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Courier Prime", monospace; */


body {
    background-color: rgb(7, 5, 2);
}

.web-title {
    color: #e6bd4f;
}

::selection {
    color: #000;
    background-color: #fdcf4f;
    /* color: #ffdede;
    background-color: rgb(19, 1, 1); */
}

nav a {
    color: rgba(253, 207, 79, 0.3);
}

nav a:hover {
    color: #cca53b;
}

.active-page {
    color: #fdcf4f;
    border-color: #fdcf4f;
}

main {
    margin: 0.6em;
}

.explore-info {
    text-align: center;
    margin: 0.6em 0 2em 0;
}

h1 {
    font-size: 2.9em;
    color: #fff;
    font-weight: lighter;
    font-family: "Arsenal SC", sans-serif;
    transition: 0.4s;
}

h1:hover {
    cursor: pointer;
    letter-spacing: 9px;
    font-weight: bold;
    color: #fdcf4f;
}

.hide-show {
    display: none;
}

hr {
    margin: 0.4em 0;
    height: 1px;
    border: none;
    background-color: #fdcf4f;
}

.sectioning-title {
    /* adjustments */
    margin: 0.6em auto;
    padding: 0.4em 0.8em 0.8em 0.8em;
    width: fit-content;
    /* styling */
    font-family: "Arsenal SC", sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    border-right: 1.9px dashed #fff;
    border-top: 1.9px dashed #fff;
    border-left: 1.9px dashed #fff;
    border-radius: 0.4em;
    text-align: center;
    letter-spacing: 2px;
    transition: 0.4s;
}

.sectioning-title:hover {
    cursor: zoom-in;
    font-size: 1.4em;
    font-style: italic;
    letter-spacing: 0;
    border-style: groove;
}

.explore-grid {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 0.6em;
}

.explore-grid section {
    padding: 0.6em;
    height: fit-content;
    border-radius: 6px;
    border: 1px solid #161616;
    background-color: #0a0a0a;
    transition: 0.4s;
}

.explore-grid h4 {
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 0.6em;
    text-align: left;
    font-family: "Arsenal SC", sans-serif;
}

.explore-grid section:hover {
    box-shadow: 0 0 6px 0 #fdcf4f;
}

.explore-grid a {
    color: #fdcf4f;
    font-family: "Dancing Script", cursive;
    text-decoration: none;
    transition: 0.4s;
}

.explore-grid p {
    margin: 0.4em 0;
    font-size: 1.6em;
    font-family: "Dancing Script", cursive;
}

.explore-grid a:hover {
    font-weight: bold;
}

















































