/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unica+One&display=swap');
/* 0 font-family: "Unica One", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* 1 font-family: "Dancing Script", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* 2 font-family: "Abel", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 3 font-family: "Courier Prime", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 4 font-family: "Arsenal SC", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* 5 font-family: "Great Vibes", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
/* 6 font-family: "Afacad", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
/* 7 font-family: "Playwrite AU QLD", cursive; */

/* custom styling */

.lil-margin {
    margin-bottom: 0.6em;
}

.lil-sizing {
    font-size: larger;
}

.font-0 {
    font-family: "Unica One", sans-serif;
}

.font-1 {
    font-family: "Dancing Script", cursive;
}

.font-2 {
    font-family: "Abel", sans-serif;
}

.font-3 {
    font-family: "Courier Prime", monospace;
}

.font-4 {
    font-family: "Arsenal SC", sans-serif;
}

.font-5 {
    font-family: "Great Vibes", cursive;
}

.font-6 {
    font-family: "Afacad", sans-serif;
}

.font-7 {
    font-family: "Playwrite AU QLD", cursive;
}

/* home page */

body {
    /* background-color: darkred; */
    /* background: url(./../images/dark-blue-retro-grid-gfx.png); */
    max-width: 46em;
    /* width: 90%; */
    background: url(./../images/soft-bluish-retro-grid.jpeg);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 80%;
    margin: 1em auto;
    /* border: 1px solid; */
}

main {
    margin: 0;
    border-radius: 0.6em 0.6em 0 0;
    background-color: #000000; 
}

.home-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #08102B; */
    background-color: #000;
    box-shadow: 0 0 6px 0 #000000;
    width: 100%;
    padding: 0 0.7em;
    border-radius: 0.6em 0.6em 0 0;
}

.about-moon {
    width: min-content;
    rotate: -26deg;
    font-size: 2em;
    margin: 0 0 -0.2em 0;
    /* background-color: red; */
}

.explore-star {
    rotate: 37deg;
    font-size: 2.4em;
    margin: -0.2em 0 0 0;
}

.home-nav a {
    padding: 0;
    /* width: 100%; */
    width: fit-content;
    text-align: center;
    border-radius: 2px;
    /* font-size: 2em; */
    align-self: center;
    color: #fff;
    /* color: rgba(255, 255, 255, 0.66); */
    list-style: none;
    text-decoration: none;
    transition: 0.6s;
}

.web-title {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Courier Prime", monospace;
}

.home-nav a:hover {
    /* font-size: 2em; */
    /* font-weight: bolder; */
    color: white;
}

.active-home {
    color: aqua;
}

.slider-btns {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.prev-btn,
.next-btn {
    /* display: block; */
    margin: 0 1em;
    background: none;
    border: none;
    color: #fff;
}

.fade {
    animation-name: fade;
    animation-duration: 1.7s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slider-nav {
    position: relative;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* width: 70%; */
    width: 10em;
    overflow: hidden;
    margin: 0.6em auto;
    padding: 0.4em 0;
    border-radius: 0.4em;
    text-align: center;
    background-color: #fff;
}

.slider-nav a {
    /* float: left; */
    /* width: 100px; */
    /* width: 100%; */
    display: block;
    margin: 0 0.2em;
    padding: 0 0.4em;
    font-size: 1.2em;
    font-family: "Unica One", sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.66);
    background-color: #08102B;
    transition: 0.4s;
}

.slider-nav a:hover {
    color: #fff;
    font-weight: bold;
}

.slider {
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.6s;
    display: flex;
}

/* mesage */

.construction {
    font-family: "Abel", sans-serif;
    margin: 2em 0.6em;
    /* padding: 0 1em; */
    font-size: 1.4em;
    text-align: center;
}

/* quote */

.random-quotes {
    margin: 1em auto;
    padding: 0.8em;
    max-width: 90%;
    width: fit-content;
    text-align: left;
    border-radius: 0.6em;
    background-color: #000000;
    box-shadow: 0 0 3px 0.46px #fdcf4f;
}

.quote {
    /* color: rgb(139, 78, 70); */
    /* text-shadow: 2px 2px 2px #111a91; */
    font-style: italic;
    font-size: 1.4em;
    font-family: "Afacad", sans-serif;
}

.q-by {
    font-size: 0.9em;
    text-align: end;
    margin-top: 0.8em;
    color: #fdd25c;
    /* font-weight: bold; */
    font-family: "Unica One", sans-serif;
    transition: 0.4s;
}

.q-by:hover {
    font-weight: bold;
}

.q-btn {
    display: block;
    margin: 0 auto;
    padding: 0.6em;
    font-family: "Unica One", sans-serif;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
    background: none;
    border: 1px groove rgba(255, 255, 255, 0.6);
    border-radius: 0.6em;
    transition: 0.4s;
}

.q-btn:hover {
    cursor: pointer;
    letter-spacing: 2px;
    /* font-size: 0.9em; */
    font-weight: bold;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    visibility: visible;
}

.q-btn .q-tooltiptxt {
    visibility: hidden;
}

.q-btn:hover .q-tooltiptxt {
    visibility: visible;
}

.q-tooltiptxt {
    position: absolute;
    z-index: 1;
    margin: 0 2em;
    width: fit-content;
    padding: 0.6em;
    border-radius: 4px;
    /* border: 1px solid; */
    box-shadow: 0 1px 0 0.46px #fdcf4f;
    color: #fdd25c;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.8em;
    text-align: center;
}




footer {
    border-radius: 0 0 0.6em 0.6em;
}