/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unica+One&display=swap');
/* 0 font-family: "Unica One", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* 1 font-family: "Dancing Script", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* 2 font-family: "Abel", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 3 font-family: "Courier Prime", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 4 font-family: "Arsenal SC", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* 5 font-family: "Great Vibes", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
/* 6 font-family: "Afacad", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
/* 7 font-family: "Playwrite AU QLD", cursive; */

/* custom styling */

.lil-margin {
    margin-bottom: 0.6em;
}

.lil-sizing {
    font-size: larger;
}

.font-0 {
    font-family: "Unica One", sans-serif;
}

.font-1 {
    font-family: "Dancing Script", cursive;
}

.font-2 {
    font-family: "Abel", sans-serif;
}

.font-3 {
    font-family: "Courier Prime", monospace;
}

.font-4 {
    font-family: "Arsenal SC", sans-serif;
}

.font-5 {
    font-family: "Great Vibes", cursive;
}

.font-6 {
    font-family: "Afacad", sans-serif;
}

.font-7 {
    font-family: "Playwrite AU QLD", cursive;
}



/* across all pages */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fafafa;
    background-color: #000;
    /* max-width: 46em;
    margin-left: auto;
    margin-right: auto; */
    /* background-color: #f6f6f6; */
}

::selection {
    color: #000;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    box-shadow: 0 0 6px 0 #222;
}


nav a {
    padding: 1em 0em;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    font-size: 1em;
    align-self: center;
    color: rgba(255, 255, 255, 0.80);
    list-style: none;
    text-decoration: none;
    transition: 0.6s;
    font-family: "Courier Prime", monospace;
}

.web-title {
    padding: 0;
    font-size: 1.9em;
    color: white;
    font-weight: bold;
}

nav a:hover {
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
}

.active-page {
    border-bottom: 1px solid;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    /* background-color: rgba(255, 255, 255, 0.4); */
}

/* nav dropdown */

.nav-dropdown {
    display: none;
    /* visibility: hidden; */
    /* position: absolute;
    z-index: 1; */
    width: fit-content;
    margin: 0.6em 1em;
    border-radius: 0.4em 0.4em 0 0;
    /* font-family: "Abel", sans-serif; */
    font-family: "Afacad", sans-serif;
}

.nav-dropdown a {
    display: inline-block;
    /* width: 100%; */
    margin: 0.1em;
    padding: 0.4em 2em;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid;
    border-radius: 0.4em 0.4em 0 0;
    color: rgba(255, 255, 255, 0.46);
    transition: 0.4s;
}

.nav-dropdown a:hover {
    color: #fff;
    border: 1px solid;
}

.nav-visible {
    display: block;
    /* visibility: visible; */
}

.after-dropdown  {
    box-shadow: none;
    font-size: 0.8em;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.4); */
}

.after-dropdown a {
    padding: 0.2em;
    color: rgba(255, 255, 255, 0.4);
}

main {
    /* margin: 1em 0; */
    /* for footer */
    min-height: 100vh;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
}

footer p {
    padding: 1em;
}

















































